<%me_divierte_count = publicacion.reactions.where(reaction_type: 'me_divierte').count%>
<%me_gusta_count = publicacion.reactions.where(reaction_type: 'me_gusta').count %>
<%me_encanta_count = publicacion.reactions.where(reaction_type: 'me_encanta').count%> 
<%me_asombra_count = publicacion.reactions.where(reaction_type: 'me_asombra').count%>
<%me_entristese_count = publicacion.reactions.where(reaction_type: 'me_entristese').count%> 
<%me_enoja_count= publicacion.reactions.where(reaction_type: 'me_enoja').count %>

<%= turbo_frame_tag 'reaccion' do %>
  <% destacadas = publicacion.reactions.group(:reaction_type).count.sort_by { |_, v| -v }.first(3) %>

  <% if destacadas.present? %>
    <div class="reacciones-destacadas">
      <%= link_to reacciones_path(publicacion_id: publicacion.id), data: { turbo_frame: '_top' } do %>
        <% destacadas.each do |tipo, cantidad| %>
          <%= "#{tipo.humanize.capitalize}" "#{cantidad}" if tipo.present? %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="border-bottom mb-3"></div>

  
    <% if Current.user%>
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_gusta), method: :post do %>
        👍 <%= me_gusta_count %>
      <% end %>
  
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_encanta), method: :post do %>
        😍 <%= me_encanta_count %>
      <% end %>
  
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_divierte), method: :post do %>
        😂 <%= me_divierte_count %>
      <% end %>

  
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_asombra), method: :post do %>
        😲 <%= me_asombra_count %>
      <% end %>
      

  
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_entristese), method: :post do %>
        😢 <%= me_entristese_count %>
      <% end %>
  
      <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_enoja), method: :post do %>
        😠 <%= me_enoja_count %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  


