<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Social - Publicaciones</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <!-- Estilos personalizados -->
  <style>
    /* Estilos simplificados para el menú desplegable */
    .sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: -250px;
      background-color: #333;
      padding-top: 60px;
      transition: 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
    .sidebar.show {
      left: 0;
    }
    .toggle-btn {
      position: absolute;
      top: 65px;
      left: 250px;
      cursor: pointer;
      color: #1b1a1a;
      background: none;
      border: none;
      font-size: 20px;
      z-index: 1001;
    }
    /* Estilos simplificados para la lista de menú */
    .menu {
      list-style-type: none;
      padding: 0;
    }
    .menu li {
      padding: 10px;
      border-bottom: 1px solid #555;
    }
    .menu li a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: background-color 0.3s;
    }
    .menu li a:hover {
      background-color: #555;
    }
    /* Otros estilos simplificados según tus preferencias */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      color: #000;
    }
    .scroll-horizontal {
      overflow-x: auto;
      white-space: nowrap; /* Evita que los elementos se envuelvan */
    }

    .btn-group {
      display: inline-block; /* Asegura que los botones se muestren en línea */
    }

  </style>
</head>
<body>
  <!-- Columna de Categorías -->
  <div class="sidebar">
    <button class="toggle-btn">☰ Menú</button>
    <ul class="menu">
      <h2 style="color: white;" >Te puede interesar</h2>
      <li><a href="#"><%= link_to "Ver más perfiles", usuario_index_path, class: "btn btn-primary" %></a></li>
      <li><a href="#"><%= link_to "Tendencias", tendencias_path, class: "btn btn-primary" %></a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
      <h2 style="color: white;">Categorías</h2>
      <div class="categories-container">
        <%= render partial: 'category', collection: @categories %>
      </div>
    </ul>
  </div>


  <div class="container mt-5">
    
    <div class="row">
    
      <!-- Columna de Publicaciones -->
      <div class="col-md-8">
        <h1>Publicaciones</h1>

        <!-- Formulario de búsqueda -->
        <%= form_with url: publicaciones_path, method: :get do |form| %>
          <div class="form-group">
            <%= form.text_field :query, class: "form-control", placeholder: "🔍Buscar en forUnas" %>
          </div>
          <%= form.submit "Buscar", class: "btn btn-primary" %>
        <% end %>
        <br>
        <!-- Lista de enlaces para filtrar por facultad -->

        <div class="facultades">
          <strong><span>Filtrar todas las publicaciones por facultad:</span></strong>
          <div class="scroll-horizontal">
            <div class="btn-group">
              <% Faculty.all.each do |faculty| %>
                <%= link_to faculty.name, publicaciones_path(faculty_id: faculty.id), class: "btn btn-primary btn-sm", role: "button" %>
              <% end %>
            </div>
          </div>
        </div>




        <br>
        <strong class="exclusive-heading">
          <h2><%= @faculty_name %></h2>
        </strong>
        <br>

        <%= turbo_frame_tag "publicacionss~#{@pagy.page}" do %>
          <!-- Lista de Publicaciones -->

          <!-- Lista de Publicaciones Fijadas Por Facultad-->
          <%if @publicaciones_faculty.present? %>
            <% @publicaciones_faculty.each do |publicacion| %>

              <% if publicacion.fijada %>
                <h2>Publicaciones Fijadas 📌</h2>
                <%break%>
              <% end%>

            <%end%>
            <% @publicaciones_faculty.each do |publicacion| %>
              <% if publicacion.fijada %>
                
                <div class="publicacion">
                  <!-- Contenedor del nombre de usuario -->
                  <div class="usuario">
                    <div class="nombre-usuario">
                      <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                      <strong><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), data: { turbo_frame: '_top' }%></strong>
                    </div>
                  </div>

                  <!-- Contenido de la publicación -->
                  <%= link_to publicacion_path(publicacion.id), data: { turbo_frame: '_top' } do %>
                    <% if publicacion.imagen.attached? %>
                      <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                    <% else %>
                      <div class="placeholder-image"></div>
                    <% end %>
                    <h2><%= publicacion.titulo %></h2>
                  <% end %>

                  <p><strong>Comentarios: </strong><%= publicacion.comments.count %></p>
                  <p class="fecha-publicacion"><i class="far fa-calendar-alt"></i> <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %></p>
                </div>
                <br>

              <% end %>
            
            <% end %>
          <%end%>

          <!-- Lista de Publicaciones Fijadas index-->
          <%if @publicaciones.present? %>
            <% @publicaciones.each do |publicacion| %>

              <% if publicacion.fijadaindex %>
                <h2>Publicaciones Fijadas 📌</h2>
                <%break%>
              <% end%>

            <%end%>
            <% @publicaciones.each do |publicacion| %>
              <% if publicacion.fijadaindex %>
                
                <div class="publicacion">
                  <!-- Contenedor del nombre de usuario -->
                  <div class="usuario">
                    <div class="nombre-usuario">
                      <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                      <strong><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), data: { turbo_frame: '_top' }%></strong>
                    </div>
                  </div>

                  <!-- Contenido de la publicación -->
                  <%= link_to publicacion_path(publicacion.id), data: { turbo_frame: '_top' } do %>
                    <% if publicacion.imagen.attached? %>
                      <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                    <% else %>
                      <div class="placeholder-image"></div>
                    <% end %>
                    <h2><%= publicacion.titulo %></h2>
                  <% end %>

                  <p><strong>Comentarios: </strong><%= publicacion.comments.count %></p>
                  <p class="fecha-publicacion"><i class="far fa-calendar-alt"></i> <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %></p>
                </div>
                <br>

              <% end %>
            
            <% end %>
          <%end%>
          
          

          <h2>Publicaciones</h2>
          <% @publicaciones.each do |publicacion| %>
            <div class="publicacion">
              <!-- Contenedor del nombre de usuario -->
              <div class="usuario">
                <div class="nombre-usuario">
                  <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                  <strong ><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), style: "color: black;", data: { turbo_frame: '_top' }%></strong>
                </div>
              </div>

              <!-- Contenido de la publicación -->
              <p class="fecha-publicacion"><i class="far fa-calendar-alt"></i> <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %></p>
              <%= link_to publicacion_path(publicacion.id), style: "color: black;", data: { turbo_frame: '_top' } do %>
                <% if publicacion.imagen.attached? %>
                  <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                <% else %>
                  <div class="placeholder-image"></div>
                <% end %>
                <h2><%= publicacion.titulo %></h2>
                <p><strong>Comentarios: </strong><%= publicacion.comments.count %></p>
              <% end %>

              
              
            </div>
            <br>
            
            

          <% end %>
          <%= turbo_frame_tag "publicacionss~#{@pagy.next}", src: pagy_url_for(@pagy,@pagy.next), loading: :lazy if @pagy.next%>
        <% end %>
        
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (opcional, si lo necesitas) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
  document.querySelector('.toggle-btn').addEventListener('click', function() {
    document.querySelector('.sidebar').classList.toggle('show');
  });
  // Cuando cambia la selección del desplegable, enviar automáticamente el formulario
  document.addEventListener("DOMContentLoaded", function() {
    const selectFacultad = document.querySelector("#faculty_id");
    selectFacultad.addEventListener("change", function() {
      document.querySelector("#filtro-form").submit();
    });
  });
</script>
</html>
